<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions and Answers | Rocket.Q</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/room.css" />
    <link rel="stylesheet" href="/styles/modal.css" />

    <script src="/scripts/main.js" defer type="module"></script>
    <script>
      function copyClipboard() {
        const text = document.querySelector("#room-id").dataset.id;
        console.log(text);
        text.select();
        document.execCommand("copy");
        alert("Copied the text: " + text.value);
      }
    </script>
  </head>

  <body>
    <div id="room" class="content">
      <header>
        <a href="/">
          <img src="/images/logo.svg" alt="Rocket.Q Logo" />
        </a>

        <div class="buttons">
          <div
            class="button outlined"
            id="room-id"
            data-id="<%= roomId %>"
            onclick="copyClipboard()"
          >
            #<%= roomId %>
            <img src="/images/copy.svg" alt="Copy room number" />
          </div>

          <a href="/create-pass" class="button">
            <img src="/images/users-white.svg" alt="Create room" />Create room
          </a>
        </div>
      </header>

      <main>
        <section id="question-form">
          <h2>Ask your question</h2>

          <form action="/question/create/<%= roomId %>" method="POST">
            <label class="sr-only" for-id="question">
              What do you want to ask?
            </label>

            <textarea
              id="question"
              name="question"
              placeholder="What do you want to ask?"
            ></textarea>

            <footer>
              <div>
                <img src="/images/lock.svg" alt="Lock" /> This question it's
                anonymous
              </div>

              <button>Send</button>
            </footer>
          </form>
        </section>

        <section id="questions">
          <h2 class="sr-only">Community Questions</h2>

          <div class="questions">
            <% if(isNoQuestions){ include('parts/no-question') } %> <%
            questions.forEach(question => { %>
            <div class="question-wrapper">
              <div class="question-content">
                <div class="user">
                  <img src="/images/user.svg" alt="Avatar" />
                </div>

                <div class="question">
                  <p><%= question.title %></p>
                </div>
              </div>

              <div class="actions">
                <a href="#" class="check" data-id="<%= question.id %>">
                  <img src="/images/check.svg" alt="Mark as read" />Mark as read
                </a>

                <a href="#" class="delete" data-id="<%= question.id %>">
                  <img src="/images/trash.svg" alt="Delete" />Delete
                </a>
              </div>
            </div>
            <% }) %> <% questionsRead.forEach(questionRead => { %>
            <div class="question-wrapper read">
              <div class="question-content">
                <div class="user">
                  <img src="/images/user.svg" alt="Avatar" />
                </div>

                <div class="question">
                  <p><%= questionRead.title %></p>
                </div>
              </div>

              <div class="actions">
                <a href="#" class="delete" data-id="<%= questionRead.id %>">
                  <img src="/images/trash.svg" alt="Delete" />Delete
                </a>
              </div>
            </div>
            <% }) %>
          </div>
        </section>
      </main>
    </div>

    <!-- Modal -->
    <div class="modal-wrapper">
      <div class="modal">
        <h2>Delete question</h2>
        <p>Are you sure you want to delete this question?</p>

        <form>
          <label class="sr-only" for-id="password">Enter your password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
          />

          <div class="buttons">
            <div class="button grey cancel">Cancel</div>
            <button class="red">Yes, delete</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Modal -->
  </body>
</html>
